/// palette.scss
///
/// Palette de couleurs du site web.
///
/// Permet de ne pas avoir à copier à chaque
/// fois le code couleur d'un élément, et permet
/// de tout modifier facilement si nécessaire.
///
/// @author Alexandre SBEGHEN

$PALETTE-BLACK: #332115;
$PALETTE-GRAY: #756F6C;
$PALETTE-GRAY-LIGHT: #F0F0F0;
$PALETTE-WHITE: #FFFFFF;
$PALETTE-BLUE-LIGHT: #C6DCFF;
$PALETTE-BLUE-DARK: #0053D4;
$PALETTE-BLUE: #1e74ff;
$PALETTE-GREEN-LIGHT: #E9F9B2;
$PALETTE-GREEN-DARK: #5F6D3B;
$PALETTE-BEIGE: #F9F1E2;